.games-directory {
    position: fixed;
    top: 250px;
    left: 300px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.game-index-item-container {
    position: fixed;
    top: 100px;
    left: 300px;
    width: 90%;
}

.game-index-list-items {
    display: flex;
    justify-content: space-around;
}

.index-item-information {
    display: inline-block;

}

.fake-ad-container {
    text-align: center;
    margin-right: 175px;
    margin-bottom: 50px;
    border: 1px dashed red;
    padding: 30px;
}

.fake-advertisement {
    font-size: 30px;
    font-family: 'Bungee Inline', cursive;
}

.game-index-list-items {
    list-style: none;
}

.game-title-tag:hover {
    text-decoration: underline;
}

.game-photograph {
    border-radius: 5px;
}