.games-directory {
    position: fixed;
    top: 250px;
    left: 250px;
    width: 90%;
    display: flex;
    flex-direction: column;
    height:100vh;
    flex-wrap: wrap;
}

.game-index-item-container {
    position: fixed;
    top: 100px;
    left: 300px;
    width: 87%;
    height:100vh;
}

.game-index-list-items {
    display: flex;
    justify-content: flex-start;
    margin-right: 100px;
    margin-left: 40px;
    flex-wrap: wrap;
}

.index-item-information {
    display: inline-block;

}

.fake-ad-container {
    text-align: center;
    margin-right: 175px;
    margin-bottom: 50px;
    padding: 30px;
}

.fake-advertisement {
    font-size: 30px;
    font-family: 'Bungee Inline', cursive;
}

.game-index-list-items {
    list-style: none;
}

.game-photo {
    margin: 10px;
}

.game-title-tag:hover {
    text-decoration: underline;
}

.game-photograph {
    border-radius: 5px;
}

/* I am going to need to go back and get background images for each game's display page as well, because that will also
need to be hosted on AWS */

.streamers-index-container-banner {
    position: fixed;
    display: block;
    top: 50px;
    left: 239px;
    border: 1px solid red;
    width:100vw;
    height: 233px;
    /* background-image: url(https://static-cdn.jtvnw.net/community-images/26d866a4-a30d-424c-b25a-cc99466d42fa/7ad6b90b-d5b0-4d57-8bdc-371448ef5c13-1200x180.jpeg); */
    height: inherit;
    text-align: center;
}

.content-container-for-streamer-index {
    padding: 21px;
    display: flex;
}

.thumbnail-image {
    border-radius: 5px;
}

.title-streamers-viewers-count {
    justify-content: flex-start;
    text-align: left;
    margin-top: 50px;
    margin-left: 18px;
}

.streamers-index-container > .fake-ad-container {
    top: 289px;
    left: 10%;
    position: absolute;
    width: 58%;
    display: flex;
    padding: 30px;
}

.fake-advertisement {
    /* position: absolute; */
    /* background-image: url(app/assets/images/totinos-pizza-rolls.jpg); */
}

.fake-ad-container {
    justify-content: center;
}

.streamers-idx {
    display: flex;
    height: 100%;
    width: 85%;
}

.list-of-streamers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.list-of-streamers > ul {
    display: flex;
    justify-content: flex-start;
    width: 87%;
    flex-wrap: wrap;
    margin-left: 25px;
    /* margin: 0 auto; */
}

.list-of-streamers > ul > li {
    margin-left: 25px;
    text-align: left;
}

.game-video-thumbnail > img {
    border-radius: 6px;
    border: none;
}

