.left-hand-side-nav-bar {
    position: fixed;
    left: 0;
    top: 50px;
    width: 239px;
    height: -webkit-fill-available;
    background-color: rgb(24,23,27); 
    z-index: 10;
}

.left-menu-signup-button {
    background-color: #6441A3;
    color: white;
    border-radius: 8px;
    padding: 11px 18px;
    border: none;
    font-size: 11px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.left-menu-signup-button:hover {
    cursor: pointer;
}

.top-bar-join-container {
    display: fixed;
    text-align: center;
}

.left-hand-menu-signed-out {
    background-color: #2B2441;
    margin: 1rem;
    border-radius: 6px;
    padding: 1rem;
    padding-right: 1.5rem;
    display: flex;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

.headline {
    color: white;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.sub-text {
    color: #898395;
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
    line-height: 1rem;
    margin-bottom: 12px;
}

.popular-channels-heading {
    color: white;
    font-size: 15px;
}

.popular-channels-items > li {
    list-style: none;
    color: #898395;
    font-size: 12px;
}

.jumbotron {
    position: fixed;
    top: 50px;
    left: 239px;
    width: 100%;
    text-align: center;
    align-content: center;
    display: flex;
    z-index: -1;
}

.jumbotron > h1 {
    align-content: center;
    vertical-align: middle;
    margin: 0 auto;
    font-size: 40px;
}

.signed-in-left-nav-container {
    position: absolute;
    top: 100px;
    left: 10px;
}

.popular-channels-heading {
    font-size: 15px;
    text-align: center;
}

.nav-break {
    border-bottom: 1px solid gray;
    margin: 22px;
}

.popular-channels-items > li {
    margin: 6px;
}

.popular-channels-items > li > img {
    border-radius: 6px;
}

.popular-channels-items > li > link {
    border-radius: 6px;
}