body {
    font-family: 'Roboto', sans-serif;
}

.top-nav {
    position: absolute;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    background: rgb(100, 65, 165);
    height: 50px;
    align-content: center;
    justify-content: space-between;
}

.top-nav li {
    list-style: none;
    display: inline-block;
}

.right-nav {
    display: flex;
    margin-right: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.right-nav ul {
    display: flex;
}

.right-nav a {
    align-content: center;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.login-button {
    margin-right: 5px;
    font-size: 13px;
    background: rgb(100, 65, 165);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 6px;
}

.signup-button {
    margin-left: 5px;
    font-size: 12px;
    background: rgb(100, 65, 165);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 6px;
}

.login-button:hover {
    cursor: pointer;
}

.nav-left {
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-left ul {
    display: flex;
}

.nav-left li {
    font-size: 14px;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    padding: 10px;
    margin-left: 10px;
}

.modal-background {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;

  }
  
  .modal-child {
    box-sizing: border-box;
    border-radius: 4px;
    background: white;
    height: 420px;
    width: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 2rem;
    padding-left: 2rem; 
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  /* modified from a codepen by Dave DeSandro using SVGs */
  .close-x {
    position: absolute;
    top: 5px;
    right: -25px;
    color: white;
    fill: transparent;
  }

  .close-x-svg {
    display: inline-block;
    margin: 20px;
    border-radius: 50%;
    width: 20px;
    stroke: white;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 5;
  }

  svg {
      display: block;
      height: 20px;
      width: 20px;
  }

  .close-x-svg:hover {
    cursor: pointer;
  }

  .box {
      display: inline-block;
      margin: 20px;
      border-radius: 50%;
      width: 20px;
  }

  /* modal styling below */

  .modal-greeting {
      font-weight: bolder;
      font-size: 17px;
      margin: 10px;
      padding: 10px;
      text-align: center;
  }

  .login-input {
      width: 87%;
      margin: 10px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      box-sizing: border-box;
      padding: 6px 10px;
      box-shadow: none;
      
  }

  .login-input:focus {
    outline: none;
    border-color: rgb(176, 141, 241);
    box-shadow: 0 0 4px rgb(176, 141, 241);
  }

  label {
      margin-left: 10px;
      font-size: 12px;
      font-weight: bold;
      line-height: 0;
  }

  #modal-logo {
      width: 40px;
      height: 40px;
      background-image: url(app/assets/images/twitchlogomodal.jpg);
  }

  /* .session-submit {
      background-color: rgb(153, 153, 153);
      display: flex;
      color: white;
      font-size: 14px;
      text-align: center;
      justify-content: center;
      align-content: center;
      border-radius: 5px;
      width: 90%;
      margin: 10px;
      font-family: 'Roboto', sans-serif;
  } */

  .session-submit {
    width: 87%;
    background-color: #e7e7e7;
    color: #3f3f3f;
    border: 5px solid rgb(97, 97, 97);
    padding: 7px 12px;
    margin-left: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }