body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* .jumbotron {
    height: 350px;
    width: 100%;
    position: fixed;
    top: 50px;
    left: 20%;
} */

.top-nav {
    position: fixed;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    background: rgb(100, 65, 165);
    height: 50px;
    align-content: center;
    justify-content: space-between;
}

.top-nav li {
    list-style: none;
    display: inline-block;
}

.right-nav {
    display: flex;
    margin-right: 45px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.right-nav ul {
    display: flex;
}

.right-nav a {
    align-content: center;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

i {
    color: white;
    padding: 4px;
    margin-left: 21px;
    size: 7px;
}

.login-button {
    margin-right: 5px;
    font-size: 13px;
    background: rgb(100, 65, 165);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 6px;
}

.signup-button {
    margin-left: 5px;
    font-size: 12px;
    background: rgb(100, 65, 165);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 6px;
}

.login-button:hover {
    cursor: pointer;
}

.signup-button:hover {
    cursor: pointer;
}

.nav-left {
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-left ul {
    display: flex;
}

.nav-left li {
    font-size: 14px;
    text-decoration: none;
    color: rgb(210, 206, 219);
    margin: 0 auto;
    padding: 10px;
    margin-left: 5px;
}

.link-button {
    font-size: 14px;
    text-decoration: none;
    color: rgb(210, 206, 219);
    margin: 0 auto;
    padding: 10px;
    margin-left: 5px;
}

.modal-background {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;

  }
  
  .modal-child {
    box-sizing: border-box;
    border-radius: 6px;
    background: white;
    width: 440px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 2rem;
    padding-left: 2rem; 
    padding-top: 1rem;
    padding-bottom: 3rem;
    border: 2px solid rgb(100, 65, 165);
  }

  /* modified from a codepen by Dave DeSandro using SVGs */
  .close-x {
    position: absolute;
    top: 5px;
    right: -25px;
    color: white;
    fill: transparent;
  }

  .close-x-svg {
    display: inline-block;
    margin: 20px;
    border-radius: 50%;
    width: 20px;
    stroke: white;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 5;
  }

  svg {
      display: block;
      height: 20px;
      width: 20px;
  }

  .close-x-svg:hover {
    cursor: pointer;
  }

  .box {
      display: inline-block;
      margin: 20px;
      border-radius: 50%;
      width: 20px;
  }

  /* modal styling below */

  .modal-greeting {
      font-weight: bolder;
      font-size: 18px;
      margin: 10px;
      margin-right: 33px;
      padding: 10px;
      text-align: center;
      font-family: 'Bungee Inline', cursive;
  }

  .login-input {
      width: 87%;
      margin: 10px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      box-sizing: border-box;
      padding: 6px 10px;
      box-shadow: none;
      border: 1px solid #dfdfdf;
      margin-bottom: 0;
  }

  .login-input:focus {
    outline: none;
    border-color: rgb(176, 141, 241);
    box-shadow: 0 0 4px rgb(176, 141, 241);
  }

  .username-login-input:focus {
    outline: none;
    border-color: rgb(176, 141, 241);
    box-shadow: 0 0 4px rgb(176, 141, 241);
  }

  label {
      margin-left: 10px;
      font-size: 12px;
      font-weight: bold;
      line-height: 0;
      font-family: 'Bungee Inline', cursive;
  }

  #modal-logo {
      width: 40px;
      height: 40px;
      background-image: url(app/assets/images/twitchlogomodal.jpg);
  }

  /* .session-submit {
      background-color: rgb(153, 153, 153);
      display: flex;
      color: white;
      font-size: 14px;
      text-align: center;
      justify-content: center;
      align-content: center;
      border-radius: 5px;
      width: 90%;
      margin: 10px;
      font-family: 'Roboto', sans-serif;
  } */

  .session-submit {
    width: 87%;
    background-color: #e7e7e7;
    color: #3f3f3f;
    border: 5px solid rgb(97, 97, 97);
    padding: 7px 12px;
    margin-left: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .joke-link {
      font-size: 10px;
      line-height: 0;
      color: rgb(100, 65, 165);
      margin-left: 10px;
  }

  .demo-submit {
    width: 87%;
    background-color: rgb(100, 65, 165);
    color: white;
    border: 5px solid rgb(97, 97, 97);
    padding: 7px 12px;
    margin-left: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
  }

  .right-nav-signed-in button {
    margin-left: 12px;
    font-size: 12px;
    background: rgb(100, 65, 165);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid white;
  }

  .right-nav-signed-in button:hover {
      cursor: pointer;
  }

.user-avatar {
    font-size: 14;
    font-family: 'Bungee Inline', cursive;
    color: white;
    text-align: center;
    padding-top: 8px;
}

.right-side-of-or {
    margin-right: .5rem;
    flex-grow: 1;
    border-bottom: 1px solid #dad8de;
}

.left-side-of-or {
    margin-left: .5rem;
    flex-grow: 1;
    border-bottom: 1px solid #dad8de;
}

.or-in-line-break {
    color: #6e6779;
    font-size: .8rem;
    line-height: 0;
}

.line-break-container {
    width: 87%;
    margin-bottom: 1rem;
    align-items: center;
    flex-direction: row;
    display: flex;
    margin-right: .5rem;
    margin-left: .5rem;
    box-sizing: border-box;
}

.modal-buttons-container button {
    background: none;
    border: 0;
    font-size: 14px;
    line-height: 1;
    margin-right: 3px;
    margin-left: 3px;
}

.modal-buttons-container button[type=button] {
    border-bottom: 2px solid rgb(100, 65, 165);
}

.modal-buttons-container button:hover {
    cursor: pointer;
}

.modal-buttons-container > li {
    list-style: none;
}

.modal-buttons-container {
    width: 87%;
    margin-bottom: 0;;
    align-items: center;
    flex-direction: row;
    display: flex;
    margin-right: .5rem;
    margin-left: .5rem;
    box-sizing: border-box;
}

.button-container-underline-right {
    margin-right: 1.2rem;
    flex-grow: 1;
    border-bottom: 1px solid rgb(100, 65, 165);
    align-items: center;
}
.button-container-underline-left {
    margin-left: 1.2rem;
    flex-grow: 1;
    border-bottom: 1px solid #dad8de;
    align-items: center;
}

.button-container-underline-right-signin {
    margin-right: 1.2rem;
    flex-grow: 1;
    border-bottom: 1px solid #dad8de;
    align-items: center;
}
.button-container-underline-left-signin {
    margin-left: 1.2rem;
    flex-grow: 1;
    border-bottom: 1px solid rgb(100, 65, 165);
    align-items: center;
}

.birthday-form {
    width: 87%;
    align-content: center;
    align-items: center;
    margin-left: 11px;
    display: flex;
    margin-top: 4px;
}

.fake-tos {
    margin: 5px;
    font-size: 11px;
    text-align: center;
    width: 87%;
    color: rgb(149, 149, 149);
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.redirect-to-signup button {
    width: 100%;
    background-color: rgb(100, 65, 165);
    color: #3f3f3f;
    color: white;
    border: 5px solid rgb(97, 97, 97);
    padding: 8px 10px;
    margin-left: 8px;
    /* margin-top: 5px; */
    margin-bottom: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.redirect-to-signup li {
    list-style: none;
    justify-content: center;
}

.redirect-to-signup {
    display: flex;
    align-content: center;
    width: 90%;
}

.username-login-input {
    width: 87%;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 6px 10px;
    box-shadow: none;
    border: 1px solid #dfdfdf;
    margin-bottom: 0;
    line-height: 0;
}

.username-description {
    line-height: 1;
    display: none;
    /* visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms; */
    font-size: 11px;
    text-align: left;
    width: 87%;
    color: rgb(149, 149, 149);
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.username-description > p {
    margin-block-end: 0em;
    margin-block-start: -1em;
    margin-inline-start: 1em;
    margin-inline-end: -1em;
}

.user-message:hover .username-description {
    display: block;
    /* visibility: visible; */
    /* opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms; */
}

/* .modal-errors-container {
    background-color: rgb(187, 187, 187);
    width: 90%;
    border-radius: 6px;
    border-right: 5px solid red;
    border: 2px solid red;
} */

.modal-logo {
    align-content: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    margin-right: 45%;
}



.month-dropdown {
    float: left;
    padding: 3px;
    font-size: 10px;
    border: 1px solid #dad8de;
    color: #433f4a;
    cursor: pointer;
    height: 1.7rem;
    background: white;
    width: 60%;
    margin-top: 4px;
}

.birthday-form > input {
    width: 20%;
    margin: 4px;
    display: inline-block;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 6px 10px;
    box-shadow: none;
    border: 1px solid #dfdfdf;
    margin-bottom: 0;
}

.kevin-tv-logo {
    font-size: 18px;
    font-family: 'Bungee Inline', cursive;
    font-size: 13px;
    color: white;
}

.password-login-input {
    width: 87%;
    margin: 10px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 6px 10px;
    box-shadow: none;
    border: 1px solid #dfdfdf;
    margin-bottom: 0;
    line-height: 0;
}

.password-login-input:focus {
    outline: none;
    border-color: rgb(176, 141, 241);
    box-shadow: 0 0 4px rgb(176, 141, 241);
}

.password-description {
    line-height: 1;
    display: none;
    /* visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms; */
    font-size: 11px;
    text-align: left;
    width: 87%;
    color: rgb(149, 149, 149);
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.password-description > p {
    margin-block-end: 0em;
    margin-block-start: -1em;
    margin-inline-start: 1em;
    margin-inline-end: -1em;
}

.password-message:hover .password-description {
    display: block;
    /* visibility: visible; */
    /* opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms; */
}

.dropdown-menu {
    display: inline-block;
    position: relative;
}

.dropdown-items {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 10;
    border-radius: 6px;
    top: 100%;
    left: 0;
}

/* .dropdown-menu:hover .dropdown-items {
    display: block;
    position: absolute;
} */

.show {
    display: block;
    /* position: absolute; */
}

.line-break {
    border-bottom: 1px solid gray;
    margin-right: 20px;
}

.dropdown-trigger {
    margin-left: 12px;
    font-size: 12px;
    background: rgb(100, 65, 165);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid white;
}

.game-index-item-container .games-directory .list-of-streamers {
    overflow-y: scroll;
}

.game-index-item-container {
    z-index: -1;
}

.dropdown-login {
    height: 30px;
    font: 13px;
    color: black;
    padding: 5px;
    text-decoration: none;
}

.dropdown-items > li {
    height: 35px;
    line-height: 1;
    font-size: 13px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    justify-content: space-between;
}