.channel-header-container {
    position: fixed;
    top: 50px;
    left: 238px;
    right: 340;
    width: 85.8%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.user-information-top-bar {
    width: 100%;
    border: 1px solid green;
}

.chat-box {
    width: 430px;
    border: 1px solid pink;
    height: 100vh;
}

.chat-box-top {
    box-sizing: border-box;
    height: 49px;
    border: 1px solid blue;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 12px;
}

.video-player-container {
    position: relative;
    top: 122px;
    left: 265px;
    display: block;
    border: 1px solid rgb(210, 206, 219);
    /* border-radius: 6px; */
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 700px;
    width: 63%;
    background: white;
}

.streamer-username {
    padding-top: 15px;
    padding-left: 10px;
    font-size: 12px;
    width: 20%;
    border: 1px solid red;
}

.streamers-videos {
    width: 12%;
    border: 1px solid red;
}

.channel-followers {
    width: 10%;
    border: 1px solid red;
}

.channel-following {
    width: 100%;
    border: 1px solid red;
}

.game-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.follower-count {
    margin-left: 5px;
    font-size: 12px;
}

.streamer-username {
    text-align: left;
}

.content-container-for-streamer-index {
    padding: 32px;
}

.user-information-top-bar > ul {
    list-style: none;
    display: flex;  
    height: 100%;
    text-align: center;
    align-content: center;
}

.user-information-top-bar > ul > li {
    padding-top: 15px;
    padding-left: 8px;
    font-size: 12px;
}

.channel-description {
    position: absolute;
    display: block;
    top: 95%;
    left: 44%;
    height: 600px;
    font: italic;
}

body {
    background: #FAF9FA;
}

.channel-following {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 8px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 12px;
}

.follow-button {
    /* background: rgb(100, 65, 165);
    border-radius: 5px;
    padding-right: 5px;
    /* padding-left: 5px; */
    /* padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    justify-content: center; */

    margin-right: 5px;
    background: rgb(100, 65, 165);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: auto;
    font-size: medium;
}

.video-description {
    display: flex;
}

.video-description > img {
    border-radius: 6px;
}
