.channel-header-container {
    position: fixed;
    top: 50px;
    left: 238px;
    right: 340;
    width: 85.8%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.user-information-top-bar {
    width: 100%;
    background-color: white;
    border: 0.8px solid grey;
}

.chat-box {
    width: 430px;
    border: 1px solid pink;
    height: 100vh;
    z-index: -1;
}

.chat-box-top {
    box-sizing: border-box;
    height: 49px;
    border: 1px solid blue;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 12px;
    z-index: -1;
}

.video-player-container {
    z-index: -20;
    position: relative;
    top: 122px;
    left: 265px;
    display: block;
    border: 1px solid rgb(210, 206, 219);
    /* border-radius: 6px; */
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 700px;
    width: 63%;
    background: white;
}

.streamer-username {
    padding-top: 15px;
    padding-left: 10px;
    font-size: 12px;
    width: 20%;
    /* border: 1px solid red; */
}

.streamers-videos {
    width: 12%;
    /* border: 1px solid red; */
}

.channel-followers {
    width: 10%;
    padding-right: 3px;
    /* border: 1px solid red; */
}

.this-is-a-div {
    position: fixed;
    width: 100%;
}

.channel-following {
    width: 100%;
    /* border: 1px solid red; */
}

.game-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.follower-count {
    margin-left: 5px;
    font-size: 12px;
}

.streamer-username {
    text-align: left;
}

.content-container-for-streamer-index {
    padding: 32px;
}

.user-information-top-bar > ul {
    list-style: none;
    display: flex;  
    height: 100%;
    text-align: center;
    align-content: center;
}

.user-information-top-bar > ul > li {
    padding-top: 15px;
    padding-left: 8px;
    font-size: 14px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #6441a4;
    border-right: 1px solid rgb(221, 221, 221);
}

.channel-description {
    position: absolute;
    display: block;
    top: 95%;
    left: 44%;
    font: italic;
}

body {
    background: #FAF9FA;
}

.channel-following {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 8px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 12px;
    background-color: white;
}

.follow-button {
    /* background: rgb(100, 65, 165);
    border-radius: 5px;
    padding-right: 5px;
    /* padding-left: 5px; */
    /* padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    justify-content: center; */

    margin-right: 5px;
    background: rgb(100, 65, 165);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: auto;
    font-size: medium;
}

.video-description {
    display: flex;
    padding: 10px;
}

.video-description > li {
    list-style: none;
    margin-left: 18px;
}

.video-description > img {
    border-radius: 6px;
}

.edit-button {
    margin-left: 78%;
    height: 30px;
    font-size: 13px;
    border-radius: 6px;
    background: white;
    width: 60px;
    margin-top: 40px;
    color: rgb(100, 65, 165);
    border: 1px solid rgb(100, 65, 165);
}

.edit-button:hover {
    cursor: pointer;
}

.video-index {
    position: relative;
    top: 100px;
    left: 239px;
}

.video-index-header {
    display: flex;
    justify-content: space-between;
}

.upload-video-right {
    margin-right: 35%;
    margin-top: 30px;
}

.video-index-header > h2 {
    font-weight: 400;
    font-size: 24px;
    margin: 10px;
    padding: 5px;
}

.video-list-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.video-list-items > ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.video-list-items > ul > li {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.channel-following > li {
    font-size: 14px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #6441a4;
}

.channel-following > button {
    margin-top: 0;
    padding-top: 2px;
    margin-bottom: 10px;
    border-color: black;
    width: 100px;
    font-weight: 400;
    font-size: 14px;
    /* height: 25px; */
}

.channel-following > button:hover {
    cursor: pointer;
}

.settings-page-container {
    top: 80px;
    left: 270px;
    position: absolute;
    width: 100%;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    z-index: -20;
}

.settings-page-container > h1 {
    font-weight: 400;
    line-height: 1;
    font-size: 28px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.bottom-border {
    border-bottom: 1px solid rgb(210, 206, 219);
    margin-top: 20px;
    margin-right: 20%;
}

.profile-picture-box {
    background-color: white;
    width: 55%;
    border-radius: 6px;
    margin-right: 18%;
    /* height: 150px; */
    margin-top: .5rem;
    border: 1px solid rgb(210, 206, 219);
    padding: 20px;
    /* padding-left: 10px; */
    box-sizing: border-box;
    /* justify-content: space-between; */
    display: flex;
}

.profile-picture-box  > img {
    margin-right: 15px;
    border-radius: 6px;
    border: 1px solid rgb(210, 206, 219);
}

.profile-picture-box > label {
    align-content: center;
}

.profile-picture {
    font-size: 18px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
    padding: 15px;
    padding-left: 4px;
    margin-bottom: 2px;
    margin-top: 1.5rem;
}

.profile-settings-desc {
    margin: 5px;
    margin-left: 4px;
    margin-top: 2px;
    font-size: 11px;
    text-align: left;
    width: 87%;
    color: rgb(149, 149, 149);
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 200;
}

.settings-label {
    margin: 10px;
    font-weight: 600;
    line-height: 1;
    font-size: 14px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-left: 4px;
    margin-top: 11px;
}

.settings-input {
    height: 30px;
    width: 92%;
    margin: 10px;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 6px 10px;
    box-shadow: none;
    border: 1px solid #dfdfdf;
    margin-bottom: 0;
    margin-top: 0px;
}

.right-settings-input {
    display: block;
    width: 68%;
    margin-top: 8px;
}

.profile-settings-username-desc {
    margin: 5px;
    margin-left: 11px;
    /* margin-top: 2px; */
    font-size: 11px;
    text-align: left;
    width: 87%;
    margin-top: 11px;
    color: rgb(149, 149, 149);
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 200;
}

.profile-settings-box {
    background-color: white;
    width: 100%;
    border-radius: 6px;
    margin-right: 18%;
    margin-top: .5rem;
    border: 1px solid rgb(210, 206, 219);
    padding: 20px;
    padding-left: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.profile-bio-box {
    background-color: white;
    width: 100%;
    border-radius: 6px;
    margin-right: 18%;
    height: 125px;
    margin-top: .5rem;
    border: 1px solid rgb(210, 206, 219);
    padding: 20px;
    padding-left: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
}

.settings-box {
    display: block;
    width: 55%;
    background-color: rgb(210, 206, 219);
    border-radius: 6px;
    border: 1px solid rgb(210, 206, 219);
}

textarea {
    max-height: 59px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* .inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
} */
 
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgb(245, 241, 241);
    cursor: pointer;
}

.inputfile + label {
    height: 30px;
    margin: auto;
    margin-left: 20px;
    margin-bottom: 58px;
    font-weight: inherit;
    width: 150px;
    border: 1px solid #B19DD8;
    color: #6441a4;
    border-radius: 6px;
    align-content: center;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
